
 body {
	background-color: rgb(160, 231, 231);
	
	font-family: Arial, Helvetica, sans-serif;

}

#paragraph {
	color: blue;
}

.nav-list{
	color: blueviolet;
}

h1 {
	color: brown;
	font-weight: 700;
	font-style: italic;
	font-size: 40px;
}

.main-img {
	width:300px;
} 


/* padding: 10px 20px 15px   17px 
				top right bottom left
	padding: 20px       10px
	        top/bottom left/right
	padding: 10    20        15
				top left/right bottom
*/

	/* .block{
	background-color: rgb(93, 37, 146);
}

.inline{
	background-color: rgb(16, 167, 58);
} */

