@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

body {
	background-color: #ffffff;
	color: rgb(63, 137, 139);
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	min-height: 100vh;
	/* overflow: hidden; */
	font-family: 'Quicksand', sans-serif;
	font-size: 1.2rem;
 }
 
 .container {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	width: 100vw;
 }
 
 .image-container {
	position: relative;
	flex: 1;
	min-height: 100vh;
 }
 
 .image-container img {
	object-fit: cover;
	width: 100%;
	height: 100vh;
 }
 
 .form-container {
	flex: 1;
	padding: 0 50px 50px 50px;
	min-height: 100vh;
	overflow-y: auto;
 }
 
 .price-banner {
	position: absolute;
	top: 20px;
	right: 20px;
	background-color: #d17b49;
	color: white;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
 }
 
 h3 {
	margin-top: 15px;
 }
 

 input[type="checkbox"] {
	margin-right: 5px;
 }
 
 select,
 label {
	display: block;
	margin-top: 10px;
	color: rgb(63, 137, 139);
 }

 .price-change {
	animation: elegantFade 0.6s ease;
	box-shadow: 0 0 15px rgba(255, 215, 0, 0.6);
	border-radius: 8px;
 }
 
 @keyframes elegantFade {
	0% {
	  transform: scale(1);
	  opacity: 1;
	}
	40% {
	  transform: scale(1.2);
	  opacity: 0.85;
	}
	100% {
	  transform: scale(1);
	  opacity: 1;
	}
 }

 #seeOrder{
	color: #ffffff;
	background-color: rgb(63, 137, 139);
	font-weight: 600;
	display: inline-block;
	padding: 20px;
	border-radius: 5px;
	border: none;
	font-size: 18px;
	cursor: pointer;
 }

 #customerNameCheck {
	transition: opacity 0.5s ease;
	opacity: 1;
	color: red;
	margin-top: 5px;
 }

 #seeOrder:hover{
	box-shadow: 1px 3px 5px #373534;
	transition: all 0.2s;
 }

 #seeOrder:active{
	background-color: #d17b49;
	box-shadow: none;
 }


 /* Модальне вікно */
.modal {
	display: none; /* Початково приховане */
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.5); /* затемнення фону */
 }
 
 /* Контент модального вікна */
 .modal-content {
	background-color: #fefefe;
	margin: 10% auto;
	padding: 20px;
	border-radius: 8px;
	width: 80%;
	max-width: 500px;
	text-align: center;
	position: relative;
 }
 
 /* Хрестик закриття */
 .close {
	position: absolute;
	right: 15px;
	top: 10px;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
 }
 
 /* Кнопки в модальному вікні */
 .modal-buttons {
	margin-top: 20px;
 }
 
 .modal-buttons button {
	margin: 5px;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 16px;
 }

 
