* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
 }
 a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
 }
 
 img {
	vertical-align: top;
 }
 
 ul li {
	list-style: none;
	padding-left: 0;
 }
 
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
	font-family: inherit;
	font-size: inherit;
 }
 
 html,
 body {
	block-size: 100%;
 }
 /* ______________________________________ */
 
 .wrapper {
	min-height: 100%;
	display: grid;
	grid-template: minmax(100px, auto) 1fr minmax(70px, auto) / 1fr;
	/* ряди: header main footer / колонки: одна осеовна сторінка*/
	grid-template-areas: /* присвоює назви частинам */
	"header"
	"main"
	"footer";
	
}
.header {
	background-color: rgb(82, 15, 106);
	grid-area: "header"; /* присвоюємо назву цій частині */
	padding: 15px;
	display: grid;
	grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
	/* в header 1 / ряд відступ зправа, логотип, меню, відступ зліва*/
	align-items: center;

}
.header__logo {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-color: #fff;
	grid-column: 2/3;
	/* поміщаємо логотип в колонки з 2ої по 3тю */
}
.header__menu {
	grid-column: 3/4;
}
.header__list {
	display: grid;
	grid-auto-flow: column;
	justify-items: end;
}

.header__list li{
	margin-left: 30px;
}
.header__link {
	color: #fff;
	font-size: 18px;
}
.header__burger {
}

@media (max-width: 992px) {
	.header__list{
		display: none;
	}

	.header__menu{
		display: grid;
		justify-items: end;
	}

	.header__burger {
		width: 30px;
		display: grid;
		align-items: center;
		grid-template: repeat(3, 8px) / 1fr;
	}
	.header__burger::before{
		content: "";
		height: 2px;
		width: 30px;
		background-color: #fff;
	}

	.header__burger::after{
		content: "";
		height: 2px;
		width: 30px;
		background-color: #fff;
	}

	.header__burger span{
		height: 2px;
		width: 30px;
		background-color: #fff;
	}


}

.main {
	padding: 30px 15px;
}

.sidebar {
	background-color: rgb(39, 98, 39);
	padding: 30px 15px;
	margin-bottom: 30px;
}
.sidebar__menu {
}
.sidebar__list {
}
.sidebar__list li{
	margin-bottom: 15px;
}

.sidebar__link {
}
.content {
}

.content__gallery {
	margin-bottom: 30px;
}

@media (min-width: 992px) {
	.main{
		grid-area: "main";
		display: grid;
		grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
	}
	.sidebar{
		grid-column: 2/3;
		margin: 0;
	}
	.content {
		grid-column: 3/4;
		padding-left: 30px;
	}
}
.gallery {
	
}
.gallery__title {
}
.gallery__items {
	display: grid;
	gap: 10px; /*відступ між картинками*/
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.galery__item {
	position: relative;
	padding: 0px 0px 85% 0px;
}

/*робимо картинки адаптивними*/
.galery__item img{ 
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media (min-width: 543px) {
	.galery__item--big{
		grid-column: span 2; 
		grid-row: span 2;
	}
}

.content__products {
}
.products {
}
.products__title {
}
.products__items {
	display: grid;
	column-gap: 30px;
	row-gap: 50px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.products__item {
	display: grid;
	grid-auto-flow: row; /*будує весь контент в картці товару по вертикалі*/
	grid-template: auto 1fr minmax(40px, auto) / 1fr; /*зображення, назва товару, кнопка / колонка одна*/
}

.products__image{
	position: relative;
	padding: 0px 0px 90% 0px;
	margin-bottom: 20px;
	
}

.products__image img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5%;
	box-shadow: 2px 5px 10px black;
}
.products__name {
	font-size: 24px;
	color: #390c0c;
	line-height: 30px;
	margin-bottom: 20px;
	text-align: center;
}
.products__button {
	color: #fff;
	background-color: #390c0c;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 5%;
	padding: 0 20px;
	line-height: 40px; /*вирівнює текст по вертикалі*/
	justify-self: center; /*робить кнопку розміром по контенту і вирівнює по горизонталі*/
	
}
.footer {
	background-color: rgb(72, 31, 110);
	color: #fff;
	display: grid;
	grid-area: "footer";
	padding: 15px;
	grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
	align-items: center;
}
.footer__copy {
	
}
.footer__text {
	
}

@media (min-width: 550px) {
	.footer__copy {
		grid-column: 2/3;
	}
	.footer__text {
		grid-column: 3/4;
		text-align: right;
	}
}

@media (max-width: 550px) {
	.footer{
		grid-template: 1fr 1fr / 1fr;
		text-align: center;
	}

	.footer__copy {
		order: 2;
	}
	.footer__text {
		order: 1;
	}
	
}

